<mat-card>
    <!-- Title of an Card -->
    <mat-card-title>
        Book Room
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="bookingform" (ngSubmit)="submitForm()">
            <table>
                <tr>
                    <td colspan="1">
                        <mat-form-field class="demo-full-width">
                            <input matInput placeholder="Name" formControlName="name" #user>
                        </mat-form-field>
                        <small *ngIf="submitted && f.name.errors" class="invalid-feedback red">
                                <div *ngIf="f.name.errors.required">Please type Username</div>
                            </small>
                    </td>
                    <td colspan="1">
                            <mat-form-field class="demo-full-width">
                                <input matInput placeholder="Email" formControlName="emailid" >
                            </mat-form-field>
                            <small *ngIf="submitted && f.emailid.errors" class="invalid-feedback red">
                                    <div *ngIf="f.emailid.errors.invalidEmailAddress">Email Id is not Valid</div>
                                    <div *ngIf="f.emailid.errors.required">Please type Email Id</div>
                                </small>
                        </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <mat-form-field class="demo-full-width">
                            <input matInput placeholder="Mobile" formControlName="mobile">
                        </mat-form-field>
                        <small *ngIf="submitted && f.mobile.errors" class="invalid-feedback red">
                                <div *ngIf="f.mobile.errors.required">Please type Mobile number.</div>
                                <div *ngIf="f.mobile.errors.invalidMobileNumber">Invalid mobile number</div>
                            </small>
                    </td>
                    <td colspan="1">
                        <mat-form-field class="demo-full-width">
                            <input matInput placeholder="Room No" formControlName="roomno">
                        </mat-form-field>
                        <small *ngIf="submitted && f.roomno.errors" class="invalid-feedback red">
                                <div *ngIf="f.roomno.errors.required">Please type Room number</div>
                            </small>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <mat-form-field class="demo-full-width">
                            <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>
                        </mat-form-field>
                        <small *ngIf="submitted && f.date.errors" class="invalid-feedback red">
                                <div *ngIf="f.date.errors.required">Please Mentiond Date of Arrival</div>
                            </small>
                    </td>
                    <!-- </tr>    
                    <tr>         -->
                    <td colspan="1">
                        <mat-form-field>
                            <mat-select placeholder="Coming from City" [(value)]="selected" formControlName="city">
                                <mat-option>-- Select Any --</mat-option>
                                <mat-option value="1">Delhi</mat-option>
                                <mat-option value="2">Mumbai</mat-option>
                                <mat-option value="3">Bhopal</mat-option>
                                <mat-option value="4">Indore</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <small *ngIf="submitted && f.city.errors" class="invalid-feedback red">
                                <div *ngIf="f.city.errors.required">Please Select City where customer is coming from.</div>
                            </small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <input matInput placeholder="Notes" formControlName="note">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="content-center">
                        <button mat-raised-button color="primary">Submit</button>
                        <!-- <button mat-raised-button color="accent" type="button" (click)="clearall()">Clear</button> -->
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>

