<h3>hOmE pAge</h3>

<div class="container1" ng-controller="addstudent">
    <form action="#" class="">
        <div class="form-row1">
            <label for="">Name</label>
            <input type="text" ng-model="student.name">
        </div>
        <div class="form-row1">
            <label for="">Marks</label>
            <input type="text" ng-model="student.marks">
        </div>
        <input type="button" class="btn btn-success" ng-click="addStudent()" value="Add">
    </form>
</div>


<div class="column-layout">
    <div class="main-column">
        <h2>loelradl</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nobis quae eos rem suscipit
            ea aspernatur mollitia nesciunt voluptatibus. Delectus error eius ipsam molestias suscipit enim
            tempora, aspernatur facere. Eos.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id alias debitis dignissimos nesc
            iunt! Eum, molestias eaque quis necessitatibus dicta architecto, tenetur velit quos, accusamus soluta
            minima? Facere illum dolore ipsum!</p>
    </div>

    <div class="side-column">
        <h2>Side column</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nobis perspiciatis eius hic laudantium ut, fugit, quos praesentium mollitia rerum voluptates ab vero recusandae assumenda expedita omnis quam vel molestiae!</p>
    </div>
</div>