<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
            <app-table-component></app-table-component>
      <!-- <button type="button" mat-raised-button (click)="drawer.toggle()">
        Toggle sidenav
      </button> -->
    </div>
  
  </mat-drawer-container>
  